In [1]:
import pandas as pd
import numpy as np

In [2]:
vg_data = pd.read_csv('/content/drive/MyDrive/Karpov_Courses/data/games.csv')

In [3]:
vg_data.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [4]:
vg_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [5]:
vg_df = vg_data[vg_data['Year'] == 1994.0]
vg_df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
71,72,Donkey Kong Country,SNES,1994.0,Platform,Nintendo,4.36,1.71,3.00,0.23,9.30
184,185,Super Mario Land 3: Wario Land,GB,1994.0,Platform,Nintendo,2.49,0.98,1.57,0.15,5.19
305,306,Donkey Kong Land,GB,1994.0,Platform,Nintendo,1.97,0.76,1.07,0.11,3.91
353,354,Doom II: Hell on Earth,PC,1994.0,Shooter,Virgin Interactive,2.05,1.40,0.00,0.16,3.61
389,390,Final Fantasy III,SNES,1994.0,Role-Playing,SquareSoft,0.86,0.00,2.55,0.02,3.42

In [6]:
vg_df.loc[vg_df['Global_Sales'].idxmax()]['Name']

'Donkey Kong Country'

### Игры какого жанра были самыми продаваемыми в Европе? Перечислить все, если их несколько

In [7]:
vg_df.groupby('Genre', as_index=False).agg({'EU_Sales': 'sum'}).sort_values('EU_Sales', ascending=False).values[0][0]

'Platform'

In [8]:
vg_df.groupby('Genre')['EU_Sales'].sum().sort_values(ascending=False).values[0]

5.7299999999999995

### На какой платформе было больше всего игр, которые продались более чем миллионным тиражом в Северной Америке?
Перечислить все, если их несколько

In [9]:
vg_df[vg_df['NA_Sales'] > 1.0]['Platform'].value_counts().keys()[0]

'SNES'

### У какого издателя самые высокие средние продажи в Японии?
Перечислить все, если их несколько

In [10]:
login = 'i-fedotov'

In [11]:
for _ in range(15):
  print(1994 + hash(f'{login}') % 23)

2001
2001
2001
2001
2001
2001
2001
2001
2001
2001
2001
2001
2001
2001
2001

In [19]:
vg_df.groupby('Publisher')['JP_Sales'].mean().sort_values(ascending=False).keys()[0]

'SquareSoft'

### Сколько игр продались лучше в Европе, чем в Японии?

In [21]:
vg_df[vg_df['EU_Sales'] > vg_df['JP_Sales']]['Name'].count()

21