# Мини-проект

### Step 2
Сколько пропущенных значений встретилось в датасете?

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [ ]:
cars = pd.read_csv('/content/drive/MyDrive/Karpov_Courses/data/cars.csv')
cars.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [ ]:
cars.isna().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

### Step 3

Сгенерируем первый признак.

Использовать полное название машины – не самый хороший вариант, поэтому создадим новый признак – марку автомобиля (company). Для этого используйте столбец CarName, разбейте значения ячеек по пробелу и запишите в колонку первый элемент. Например:

'audi 100 ls' → 'audi'
Сколько всего уникальных марок машины встречается в датасете? Столбец CarName с полным названием машины удалите из датасета, а также car_ID, они не пригодятся для дальнейшего анализа.

In [ ]:
cars.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [ ]:
cars['company'] = cars['CarName'].apply(lambda x: x.split()[0])
cars = cars.drop(columns=['CarName', 'car_ID'])

0    alfa-romero
1    alfa-romero
2    alfa-romero
3           audi
4           audi
Name: company, dtype: object

In [ ]:
cars.head()

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,company
0,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,alfa-romero
1,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,alfa-romero
2,1,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,alfa-romero
3,2,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,audi
4,2,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,audi

In [ ]:
cars['company'].nunique()

28

### Step 4

Теперь внимательнее посмотрите на уникальные значения company. Часть из них оказалась с ошибками!

'maxda' → 'mazda'
'Nissan' → 'nissan'
'porcshce' → 'porsche'
'toyouta' → 'toyota'
'vokswagen' & 'vw' → 'volkswagen'
Сколько уникальных производителей осталось в итоге?

In [ ]:
cars['company'].value_counts()

toyota         31
nissan         17
mazda          15
honda          13
mitsubishi     13
subaru         12
peugeot        11
volvo          11
volkswagen      9
dodge           9
buick           8
bmw             8
audi            7
plymouth        7
saab            6
isuzu           4
porsche         4
alfa-romero     3
chevrolet       3
jaguar          3
vw              2
maxda           2
renault         2
toyouta         1
vokswagen       1
Nissan          1
mercury         1
porcshce        1
Name: company, dtype: int64

In [ ]:
change_list = [('maxda', 'mazda'), ('Nissan', 'nissan'), ('porcshce', 'porsche'),  ('toyouta', 'toyota'), ('vokswagen', 'volkswagen'), ('vw', 'volkswagen')]

In [ ]:
for pair in change_list:
    cars['company'] = cars['company'].replace(pair[0], pair[-1])

In [ ]:
cars['company'].nunique()

22

### Step 5

Отлично! Чтобы не перегружать модель большим количеством предикторов, оставим только часть из них:

'company', 'fueltype', 'aspiration','carbody', 'drivewheel', 'wheelbase', 'carlength','carwidth', 'curbweight', 'enginetype', 'cylindernumber', 'enginesize', 'boreratio','horsepower'
также не забыв про то, что мы предсказываем – 'price'. 

После этого посчитайте корреляцию между price и другими переменными. Чему равна корреляция между price и horsepower? Ответ округлите до 2 знаков после точки.

In [ ]:
preds_target_columns = ['company', 'fueltype', 'aspiration','carbody', 'drivewheel', 'wheelbase', 'carlength','carwidth', 'curbweight', 'enginetype', 'cylindernumber', 'enginesize', 'boreratio','horsepower', 'price']

In [ ]:
cars_cut = cars[preds_target_columns]

In [ ]:
cars_cut.corr()

<ipython-input-39-1a30214666d1>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  cars_cut.corr()

,wheelbase,carlength,carwidth,curbweight,enginesize,boreratio,horsepower,price
wheelbase,1.000000,0.874587,0.795144,0.776386,0.569329,0.488750,0.353294,0.577816
carlength,0.874587,1.000000,0.841118,0.877728,0.683360,0.606454,0.552623,0.682920
carwidth,0.795144,0.841118,1.000000,0.867032,0.735433,0.559150,0.640732,0.759325
curbweight,0.776386,0.877728,0.867032,1.000000,0.850594,0.648480,0.750739,0.835305
enginesize,0.569329,0.683360,0.735433,0.850594,1.000000,0.583774,0.809769,0.874145
boreratio,0.488750,0.606454,0.559150,0.648480,0.583774,1.000000,0.573677,0.553173
horsepower,0.353294,0.552623,0.640732,0.750739,0.809769,0.573677,1.000000,0.808139
price,0.577816,0.682920,0.759325,0.835305,0.874145,0.553173,0.808139,1.000000

### Step 6

Последний шаг в подготовке данных: линейная регрессия в python не справляется с категориальными переменными (типом object в pandas), поэтому давайте применим функцию под названием pd.get_dummies(). Она создаёт т.н. фиктивные переменные на основе изначальных категорий, представленные в виде 0 и 1. Официально такое преобразование называется One-Hot Encoding.

Для начала примените её только на категориальных переменных:

df_dummy = pd.get_dummies(data=cars[[список_столбцов_типа_object]], drop_first = True)


Сравните результат с изначальными данными. Что изменилось? Как теперь выглядят данные? Примечание: если вас интересует, что такое drop_first=True и зачем это нужно - загляните сюда.

Теперь примените её ко всему датафрейму (с тем же набором колонок, что и на предыдущем шаге). Не забудьте сохранить результат, он нам ещё понадобится :)

Сколько колонок теперь имеется в датасете?

In [ ]:
object_dtypes = list(cars_cut.select_dtypes(['object']).columns)

In [ ]:
cars_cut_dummy = pd.get_dummies(data=cars_cut, drop_first=True)
cars_cut_dummy.head()

,wheelbase,carlength,carwidth,curbweight,enginesize,boreratio,horsepower,price,company_audi,company_bmw,...,enginetype_ohc,enginetype_ohcf,enginetype_ohcv,enginetype_rotor,cylindernumber_five,cylindernumber_four,cylindernumber_six,cylindernumber_three,cylindernumber_twelve,cylindernumber_two
0,88.6,168.8,64.1,2548,130,3.47,111,13495.0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,88.6,168.8,64.1,2548,130,3.47,111,16500.0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,94.5,171.2,65.5,2823,152,2.68,154,16500.0,0,0,...,0,0,1,0,0,0,1,0,0,0
3,99.8,176.6,66.2,2337,109,3.19,102,13950.0,1,0,...,1,0,0,0,0,1,0,0,0,0
4,99.4,176.6,66.4,2824,136,3.19,115,17450.0,1,0,...,1,0,0,0,1,0,0,0,0,0

In [ ]:
len(cars_cut_dummy.columns)

49

In [ ]:
cars_cut_dummy.columns

Index(['wheelbase', 'carlength', 'carwidth', 'curbweight', 'enginesize',
       'boreratio', 'horsepower', 'price', 'company_audi', 'company_bmw',
       'company_buick', 'company_chevrolet', 'company_dodge', 'company_honda',
       'company_isuzu', 'company_jaguar', 'company_mazda', 'company_mercury',
       'company_mitsubishi', 'company_nissan', 'company_peugeot',
       'company_plymouth', 'company_porsche', 'company_renault',
       'company_saab', 'company_subaru', 'company_toyota',
       'company_volkswagen', 'company_volvo', 'fueltype_gas',
       'aspiration_turbo', 'carbody_hardtop', 'carbody_hatchback',
       'carbody_sedan', 'carbody_wagon', 'drivewheel_fwd', 'drivewheel_rwd',
       'enginetype_dohcv', 'enginetype_l', 'enginetype_ohc', 'enginetype_ohcf',
       'enginetype_ohcv', 'enginetype_rotor', 'cylindernumber_five',
       'cylindernumber_four', 'cylindernumber_six', 'cylindernumber_three',
       'cylindernumber_twelve', 'cylindernumber_two'],
      dtype='object')

### Step 7

Сначала построим небольшую модель всего с одним предиктором цены (price) – horsepower.

Какой процент изменчивости объясняет полученная модель? (округлите до целого)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
reg0 = LinearRegression().fit(cars_cut_dummy[['horsepower']], cars_cut_dummy[['price']])

In [ ]:
reg0.score(cars_cut_dummy[['horsepower']], cars_cut_dummy[['price']])

0.653088356490231

In [ ]:
reg0.coef_

array([[163.26306097]])

In [ ]:
reg0.get_params()

{'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'positive': False}

### Step 8

Теперь построим ещё две модели:

модель со всеми предикторами
модель со всеми предикторами, кроме марок машин
Попробуем выбрать из этих моделей самую удачную! В каком-то смысле это искусство - при выборе моделей приходится ориентироваться не только на количественные показатели, но также на контекст её использования, опыт и здравый смысл.

In [ ]:
X = cars_cut_dummy.drop(columns='price')
y = cars_cut_dummy[['price']]

In [ ]:
reg = LinearRegression().fit(X, y)

In [ ]:
reg.score(X, y)

0.9593614937247443

In [ ]:
company_names = cars_cut_dummy.filter(like='company').columns

In [ ]:
X1 = cars_cut_dummy.drop(columns=company_names).drop(columns=['price'])
y1 = cars_cut_dummy[['price']]

In [ ]:
reg1 = reg = LinearRegression().fit(X1, y1)

In [ ]:
reg1.score(X1, y1)

0.9135250639861444

### Step 9
Вы могли обратить внимание, что хотя марки машин и объясняют какую-то часть общей дисперсии в данных, эта часть не самая большая - около 4%. На фоне того, как эта переменная усложняет модель дополнительными статнезначимыми коэффициентами, мы можем принять решение выкинуть её из модели либо дополнительно переделать. Однозначно правильного решения тут нет.

Но допустим, что мы действительно решили избавиться от этого предиктора и взять вторую модель с предыдущего шага! Заполните пропуски:

In [ ]:
model = sm.OLS(y1,X1)
results = model.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  price   R-squared (uncentered):                   0.977
Model:                            OLS   Adj. R-squared (uncentered):              0.974
Method:                 Least Squares   F-statistic:                              290.8
Date:                Sat, 03 Jun 2023   Prob (F-statistic):                   3.70e-132
Time:                        12:47:19   Log-Likelihood:                         -1882.5
No. Observations:                 205   AIC:                                      3817.
Df Residuals:                     179   BIC:                                      3903.
Df Model:                          26
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
wheelbase                69.4047     87.190      0.796      0.427    -102.648     241.457
carlength               -46.9815     50.331     -0.933      0.352    -146.299      52.336
carwidth                255.8722    128.478      1.992      0.048       2.346     509.398
curbweight                3.7736      1.687      2.237      0.027       0.444       7.103
enginesize               32.5254     22.258      1.461      0.146     -11.396      76.446
boreratio             -2160.2931   1734.298     -1.246      0.215   -5582.593    1262.007
horsepower               89.3206     16.641      5.368      0.000      56.484     122.158
fueltype_gas          -2592.6432    968.868     -2.676      0.008   -4504.516    -680.770
aspiration_turbo      -1199.0873    787.466     -1.523      0.130   -2752.998     354.823
carbody_hardtop       -3607.2530   1519.579     -2.374      0.019   -6605.846    -608.660
carbody_hatchback     -4357.7234   1279.163     -3.407      0.001   -6881.902   -1833.544
carbody_sedan         -3078.5570   1344.209     -2.290      0.023   -5731.092    -426.022
carbody_wagon         -4178.0790   1464.235     -2.853      0.005   -7067.462   -1288.696
drivewheel_fwd          559.9328   1105.868      0.506      0.613   -1622.282    2742.148
drivewheel_rwd         2123.8282   1220.822      1.740      0.084    -285.227    4532.883
enginetype_dohcv      -1.736e+04   4545.624     -3.820      0.000   -2.63e+04   -8394.915
enginetype_l           2489.7235   1313.712      1.895      0.060    -102.632    5082.079
enginetype_ohc         4092.5442    896.812      4.563      0.000    2322.860    5862.229
enginetype_ohcf        5500.7582   1389.511      3.959      0.000    2758.829    8242.687
enginetype_ohcv       -5029.6776   1347.938     -3.731      0.000   -7689.571   -2369.784
enginetype_rotor      -5841.3923   2029.540     -2.878      0.004   -9846.294   -1836.491
cylindernumber_five   -1.456e+04   2851.310     -5.106      0.000   -2.02e+04   -8932.221
cylindernumber_four   -1.749e+04   3090.877     -5.660      0.000   -2.36e+04   -1.14e+04
cylindernumber_six    -1.299e+04   2083.890     -6.235      0.000   -1.71e+04   -8880.467
cylindernumber_three  -1.148e+04   4446.797     -2.582      0.011   -2.03e+04   -2708.949
cylindernumber_twelve -1.282e+04   3352.741     -3.825      0.000   -1.94e+04   -6208.209
cylindernumber_two    -5841.3923   2029.540     -2.878      0.004   -9846.294   -1836.491
==============================================================================
Omnibus:                       18.911   Durbin-Watson:                   1.299
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               49.647
Skew:                           0.328   Prob(JB):                     1.66e-11
Kurtosis:                       5.320   Cond. No.                     1.01e+16
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The smallest eigenvalue is 1.37e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

Выбранная модель объясняет примерно 
90
 % дисперсии (окр. до целого). Среди предикторов 
10
 из 27 оказались не значимыми (p > 0.05). Пример интерпретации: при единичном изменении показателя horsepower, цена 
ВОЗРАСТАЕТ
 на 
86.8164
 (без округления).